{% extends 'layout.html' %}

{% load static %}
{% load tailwind_tags %}
{% block content %}

{% tailwind_css %}


<div class='container grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 '>

    
    {% for p in post  %}
        
<article class="overflow-hidden rounded-lg border border-gray-100 bg-white shadow-sm">
    <img
      alt=""
      src="{{p.image}}"
      class="h-56 w-full object-cover"
    />
  
    <div class="p-4 sm:p-6">
      <a href="#">
        <h3 class="text-lg font-medium text-gray-900">
          {{p.title}}
        </h3>
      </a>
  
      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
        {{p.content}}
      </p>
  
      <a href='postdetail/{{p.id}}'  class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
        Find out more
  
        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
          &rarr;
        </span>
      </a>
    </div>
   
  </article>
  {% endfor %}
</div>

 
  {% endblock content %}
</div>
