{% extends "layout.html" %} {% load tailwind_tags %} {% block content %}
{%tailwind_css %} {% for p in post %}
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-bold sm:text-4xl">{{p.title}}</h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
        <img
          alt=""
          src="{{p.image}}"
          class="absolute inset-0 max-h-fit max-w-46 object-cover"
        />
      </div>

      <div class="lg:py-16">
        <article class="space-y-4 text-gray-600">
          <p>{{p.content}}.</p>

          <p></p>
        </article>
      </div>
    </div>
  </div>
</section>

{% comment %} POST - comments {% endcomment %}

<div class="grid grid-cols-1 gap-4 lg:grid-cols-1 lg:gap-8 container mx-auto mt-2">
  <div class="h-32 rounded-lg bg-gray-200">

    <div class="text-center justify-center">


    {% for comnt in comment  %}
      <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-8">
        <a href="#" class="block shrink-0">
         <span> {{comnt.name}} </span>
        </a>

      
          <p class=" text-sm text-gray-700">
            {{comnt.comment_body}}
          </p>
    
        
         </div>
      </div>


    {% endfor %}
  </div>

      
  </div>
</div>
{% comment %} comment box {% endcomment %}
<div class="container mx-auto mt-5">
  <label for="OrderNotes" class="sr-only">Order notes</label>

  <div class="overflow-hidden">
    <textarea
      id="OrderNotes"
      class="w-full resize-none border-x-0 border-t-0 border-gray-200 px-0 align-top sm:text-sm"
      rows="4"
      placeholder="Place your comments..."
    ></textarea>

    <div class="flex items-center justify-end gap-2 py-3">
      <button
        type="button"
        class="rounded bg-gray-200 px-3 py-1.5 text-sm font-medium text-gray-700 hover:text-gray-600"
      >
        Clear
      </button>

      <button
        type="button"
        class="rounded bg-indigo-600 px-3 py-1.5 text-sm font-medium text-white hover:bg-indigo-700"
      >
        Add
      </button>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
